*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main{
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 2rem;
  padding: 3rem;
}
section{
  padding: 1rem;
  border-radius: 0.5rem;
}

.input{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: antiquewhite;

}
.input_form{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.databases{
  background-color: bisque;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

label{
  display: inline-block;
  width: 120px;
}
h2{
  align-self: center;
}
button{
  background-color: blue;
  color: white;
  border-radius: 0.3rem;
  padding: 0.5rem;
  width: 5rem;
  align-self: center;
}
.input_btn{
  align-self:center ;
}
.search{
  background-color:wheat;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
